body {
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: rgba(1, 1, 1, 0.8);
}
* {
	box-sizing: border-box;
}
.top {
	display: flex;
	justify-content: space-around;
}
.containWords {
	height: 100px;
	width: 60vw;
	margin: auto;
	background-color: rgba(1, 1, 1, 1);
	border-radius: 10px;
	color: gray;
	padding: 10px;
	overflow: hidden;
	position: relative;
	font-size: 20px;
}

.containWords:focus .words {
	filter: none;
}

.containWords:focus .focus {
	display: none;
}
.words {
	filter: blur(5px);
	line-height: 20px;
}
.focus {
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

.focus p {
	line-height: 100px;
	margin: 0;
}
.containWords:focus #words {
	filter: none;
}
.containWords:focus #cursor {
	display: block;
}
.containWords:focus#enterToStart {
	/* display: none; */
	color: black;
	background-color: red;
}

.word {
	display: inline-block;
	margin: 4px;
}

#cursor {
	display: none;
	height: 1.2rem;
	width: 1px;
	position: fixed;
	background-color: white;
	top: 0px;
	left: 0px;
	animation: cursorAnimation 1s infinite;
}

#timeAndScore {
	color: white;
	margin: 12px 0;
	font-size: 24px;
}

#enterToStart {
	text-align: center;
	font-size: 24px;
	color: white;
	margin-top: 12px;
}

.correct {
	color: white;
}

.incorrect {
	color: red;
}

.containWords.overgame #cursor {
	display: none;
}
.containWords.overgame .words {
	filter: blur(5px);
}

@keyframes cursorAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
